node_modules
bower_components
/nbproject/private/
.elasticbeanstalk/
/.idea
/app/fonts
/config/
/config/config.json
/protractor-results
/coverage
/coverage.html
npm-debug.log
test/e2e/.idea
pdfreports/
.vscode
tmpStyles
newrelic_agent.log
phantomjs.exe
package-lock.json
*.txt
